# Ignore compiled bytecode that Python creates automatically
__pycache__/
*.py[cod]

# These virtual environments will be ignored
venv/
.venv/
env/
.env

# Ignore Streamlit local secrets/credentials
.streamlit/secrets.toml

# Ignore local log files created during model training
*.log

# Personal IDE settings
.vscode/
.idea/

# System specific files
.DS_Store
Thumbs.db
